body{
  background-color:#000080	;
}

.container{
  text-align:center;
 background-color:#000080	;
  
  
padding:5%;

}

.input{
 border:2px solid gray;
 border-radius:15px;
 text-align:center;
 
}

h1{
  color:#DC143C	;
  text-align:center;
}


.cont{
  text-align:center;
  background-color:grey;
  color:grey;
  font-family: 'Playfair Display', serif;
font-family: 'Butcherman', cursive;
padding:5%;

}



.but{
  
  font-size:10px;
  font-size:15px;
  text-align:center;
}
